.block_home {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    
  }

  .skeleton-row {
    margin-left: 32%;
    display: flex;
    justify-content: space-around;
  }
  
  .skeleton {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60%; 
  }